@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

a{
	text-decoration: none;
	color:black;
}
.show-title{
	font-weight:700;
	color:red;
}
.project-image{
	width:100%;
	height:100%;
	object-fit: contain;
}
.project-image-wrapper{
	width: 400px;
	height: 300px;
	overflow:hidden;
	margin:0 auto;
}
i{
	color:white
}

